.signInBtn,
.signOutBtn {
  background-color: var(--gray);
  padding: 5px 15px;
  display: flex;
  gap: 10px;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  border: none;
}
.signOutBtn:hover {
  background-color: var(--green);
}

.signInBtn {
  background-color: var(--blue);
  color: white;
}
