.Text{
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}
.Form{
    width: 100%;
    max-width: 360px;
    min-width: 280px;
    padding: 0 10px;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    gap: 15px;
}
.inputForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input{
    background-color: #D9D9D9;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
}