.inputForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputForm div:first-of-type {
  background-color: #d9d9d9;
  border-radius: 5px;
}

.inputForm #react-select-4-listbox {
  display: none;
  background-color: red;
}
.inputForm svg {
  color: black;
}
