.Text {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.row {
  display: flex;
  gap: 10px;
}
.column {
  display: flex;
  gap: 15px;
  flex-direction: column;
  flex-basis: 350px;
}
.image {
  overflow: hidden;
  border-radius: 20px;
  display: flex;
}
.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ingredientsInput {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  overflow: hidden;
  border-radius: 5px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.ingredientsInput input {
  background-color: #d9d9d9;
  padding: 8px 10px;
  border: none;
  width: 100%;
}

.ingredientsInput button {
  display: flex;
  border: none;
  background-color: inherit;
}
.inputForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
