.Person {
  display: flex;
  flex-direction: column;
  width: 438px;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.Person img {
  width: 200px;
  height: 200px;
}
.icons {
  display: flex;
  gap: 80px;
  margin-top: 15px;
}
